/* 4 - external css */
h3{
    color: green;
}

p{
    color: red;
}

/*Exemplo 6 - classes*/
.Paragrafo{
    background-color: black;
    color: aqua;
    padding: 5px;
}

/*Exemplo 7*/
#titulo-exclusivo{
    background-color: purple;
    color: white;
    padding: 10px;
}

/*Exemplo 8 - ordem de regras*/
h2{
    border-bottom: 2px solid red;
}

.titulo{
    border-bottom: 2px solid blue;
}

#algum-titulo{
    border-bottom: 2px solid green;
}

/*9 - Nome cor*/
.nome-cor{
    color: crimson;
}

/*10 - hexa*/
.hex{
    color: #55a399;
}

/*11 - mais hexa*/
.hex-mais{
    color: #22e;
}

/*12 - rgb*/
.rgb{
    color: rgb(173, 122, 122);
}

.mix-rgb{
    color: rgb(rgb(232, 212, 212), rgb(153, 237, 153), rgb(128, 128, 141));
}

/*13 - rgba*/
.rgba{
    color: rgba(100, 189, 5, 0.3);
}

/*14 - hsl*/
.hsl{
    color: hsl(100, 10%, 50%);
}

.hsl-2{
    color: hsl(25, 7%, 49%);
}

/*15 - background color*/
.bg{
    background-color: #000;
    color: yellow;
}

.bg-2{
    background-color: rgb(255, 0, 0);
    color: #e555e5;
}

/*16 - background opacity*/
.bg-opacity{
    background-color: forestgreen;
    opacity: 0.2;
}

.bg-opacity-2{
    background-color: rgb(251, 0, 255);
    opacity: 0.7;
}

/*17 - rgba opacity - com opacidade*/
.rgba-opacity{
    background-color: rgba(20, 172,  9, 0.3);
    color: #000;
}

/*18 - bg image*/
.bg-image{
    background-image: url(../img/florianopolis.jpg);
    padding: 10px;
    color: white;
}

/*19 - centralizar bg image*/
/*regra para dois elementos*/
.not-center-bg,
.center-bg{
    height: 400px;
    width: 400px;
    background-image: url(../img/florianopolis.jpg);
}

.center-bg{
    background-position: center;
    background-size: cover;
}


/* 20 - altura e largura*/
.largura-altura{
    height: 200px;
    width: 100px;
    background-color: red;
}

.largura-altura-2{
    height: 400px;
    background-image: url(../img/florianopolis.jpg);
    background-position: center;
    padding: 20px;
}

/*21 - padding*/
.sem-padding,
.padding{
    background-color: #111;
    color: #fff;
}

.padding{
    background-color: #333;
    padding: 20px;
}

/*22 - shortthand padding*/
.shortthand-padding{
    background-color: #cc7edd;
    padding: 6px 12px 18px 24px;
}

.shortthand-padding-2{
    background-color: #cc7edd;
    padding: 10px 20px;
    /*padding: 10px 20pxd 10px 20px; - é a mesma coisa*/
}

/*23 - padding e width*/
.border-box{
    background-color: #444;
    color: #fff; 
    width: 400px;
    padding: 50px;
}

.border-box-2{
    background-color: #7a7777;
    color: #fff; 
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}

/*24 - border*/
.border{
    border: 10px solid red;
    padding: 40px;
}

.border-2{
    border: 2px solid #931;
    padding: 25px;
}

/*25 - borda individual*/
.borda-esquerda{
    border-left: 3px solid red;
    background-color: #aaa1aa;
    padding: 25px;
}

.borda-abaixo{
    border-bottom: 3px double rgb(48, 166, 193);
    border-right: 3px double rgb(48, 166, 193);
    background-color: #cacaca ;
    padding: 20px;
}

/*26 - borda arredondada*/
.p-arredondado{
    border: 4px solid blue;
    background-color: #55a399;
    color: blue;
    padding: 15px;
    border-radius: 15px;
}

.p-arredondado-2{
    background-color: #cf89bf;
    color: rgb(164, 8, 154);
    padding: 15px;
    border-radius: 15px;
}

/*27 - margem*/
.margem{
    margin: 10px;
    background-color: #7a7777;
}

.margem-topo{
    margin-top: 50px;
    background-color: #999;
    padding: 10px;
}

.margem-shortthand{
    margin: 5px 10px 15px 20px;
    background-color:#55a399;
    padding: 10px;
}

/*28 - box model*/
.box-model{
    margin: 20px;
    border: 3px solid #931;
    padding: 15px 25px;
    width: 200px;
    height: 400px;
}

/*Desafio - BOX MODEL*/
.modelo-todos{
    color: green;
    text-align: center;
}

#desafio{
    margin: 21px;
    border: 7px solid rgb(114, 77, 49);
    padding: 15px 25px 15px 25px;
    width: 400px;
    height: 300px;
    outline: 7px solid rgb(255, 150, 70);
    background-color: #faffc8;
}

/*30 - alinhamento de texto*/
.texto-direita{
    text-align: right;
}

.texto-centralizado{
    text-align: center;
    width: 300px;
    border: 1px solid red;
}


/*31 - secoração de texto*/
.underline{
    text-decoration: underline;
}

.risco{
    text-decoration: line-through;
}

.sem-underline{
    text-decoration: none;
    color: red;
}

/*32 - text transformmer*/
.upper{
    text-transform: uppercase;
}

.lower{
    text-transform: lowercase;
}

/*33 - espaçamento*/
.espaco{
    letter-spacing: 5px;
    text-align: center;
}

/*34 - fontes*/
.serif{
    font-family: Georgia;
}

.sans-serif{
    font-family: Helvetica;
}

.monospace{
    font-family: 'Courier New';
}

.cursive{
    font-family: cursive;
}

.fantasy{
    font-family: fantasy;
}

/*35 - estilo da fonte*/
.italico{
    font-style: :italic;
}

.obliquo{
    font-style: oblique;
}

/*36 - fonte-weight*/
.fino, .bold, .bolder{
    font-family: Helvetica;
}
.fino{
    font-weight: 100;
}

.bold{
    font-weight: 700;
}

.bolder{
    font-weight: 900;
}


/*37 - font size*/
.small{
    font-size: 12px;
}

.big{
    font-size: 78px;
}


/*38 - display*/
/*baixo para lado*/
.inline-box{
    width: 50px;
    height: 50px;
    background-color: #4f8;
    margin: 10px;
    display: inline-block;
}

/*lado para baixo*/
.block{
    background-color: #333;
    color: #fff;
    margin: 10px;
    display: block;
}

/* 39 - esconder elemento*/
.invisivel{
    display: none;
}

/*40 - position static*/
.static{
    position: static;
    background-color: #931;
    color: #fff;
    width: 100px;
    height: 100px;
}

/* 41 - position relative*/
/*não é muito utilizada*/
.relative{
    position: relative;
    background-color: rgb(48, 166, 193);
    color: #fff;
    width: 100px;
    height: 100px;
    top: 50px;
    left: 40px;
}

/* 42 - position absolute*/
.absolute{
    position: absolute;
    background-color: rgb(152, 170, 152);
    color: #fff;
    width: 100px;
    height: 100px;
    top: 2px;
    right: 2px;
}

/*43 - bsolute com relative*/
.relative-container{
    width: 300px;
    height: 300px;
    border: 1px solid red;
    margin-top: 120px;
    position: relative;
}

.absolute-1, .absolute-2{
    width: 50px;
    height: 50px;
    background-color: #931;
    position: absolute;
}

.absolute-1{
    top: 10px;
    left: 10px;
}

.absolute-2{
    bottom: 10px;
    right: 10px;
}

/*positon fixed*/
.fixed{
    width: 100px;
    height: 100px;
    background-color: #851;
    border: 1px solid blue;
    position: fixed;
    top: 50px;
    right: 100px;
}

/*position sticky*/
.sticky{
    width: 100px;
    height: 100px;
    background-color: #994;
    border: 1px solid green;
    position: sticky;
    top: 50px;
    left: 100px;
}

/*46 - z - index */
.absolute-3 , .absolute-4 , .absolute-5{
    width: 50px;
    height: 50px;
    position: absolute;
}

.absolute-3{
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: green;
}

.absolute-4{
    top: 10px;
    left: 10px;
    z-index: 2;
    background-color: red;
}

.absolute-5{
    top: 40px;
    left: 40px;
    z-index: 3;
    background-color: blue;
}