body {
    font-family: Arial, sans-serif;
    height: 100vh;
}

h2 {
    background-color: rgba(110, 108, 108, 0.6);
    padding: 15px;
    border-radius: 07px;
    font-size: 2em;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 50%;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

h1 {
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    padding: 20px;
    border-radius: 10px;
    font-size: 3em;
    text-align: center;
    margin-right: 300px;
    margin-left: 300px;
}
.header-categoria,
.header-lugar {
    background-image:url(../img/florianopolis.jpg);
}

.header-categoria {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row-text-center{
    padding: 77px 0px 77px;
}

